.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 60px 250px;
}

.hero h1 {
    font-size: 50px;
    text-align: center;
    width: 70%;
    font-size: 70px;
}

.hero h1 span {
    background: linear-gradient(250deg, #fc4a1a 0%, #f7b733 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 30px;
    text-align: center;
    width: 50%;
    line-height: 40px;
}

.hero-action {
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(250deg, #fc4a1a 0%, #f7b733 100%);
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.hero-resume {
    padding: 25px 70px;
    border-radius: 50px;
    border: 3px solid white;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}

.hero-connect:hover {
    transform: scale(1.1);
    color: black;
    border: 2px solid white;
}

.hero-resume:hover {
    transform: scale(1.1);
    color: #f7b733;
    border: 3px solid #fc4a1a;
}