.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 80px 250px;
}

.about-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.about-section {
    display: flex;
    gap: 100px;
}

.about-left img {
    border-radius: 40px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 250px;
    font-size: 30px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(250deg, #fc4a1a 0%, #f7b733 100%);
}

.about-skill:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px rgb(255, 255, 255));
}