.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50 px;
    margin: 80px 250px;
}

.contact-title {
    font-size: 45px;
    font-weight: 700;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(250deg, #fc4a1a 0%, #f7b733 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    font-size: 30px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    gap: 30px;
    flex-direction: column;
    font-size: 30px;
}

.contact-detail {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;

}

.contact-right label {
    font-size: 35px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Outfit;
    font-size: 25px;
}

.contact-right textarea {
    border: none;
    width: 700px;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Outfit;
    font-size: 25px;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(250deg, #fc4a1a 0%, #f7b733 100%);
    font-size: 22px;
    width: 90%;
    padding: 20px 60px;
    margin-left: 35px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.3s;
    font-weight: 700;
}

.contact-submit:hover {
    transform: scale(1.1);
    color: black;
    border: 2px solid white;
}